form {
    display: flex;
    flex-direction: column;
    background: rgb(54, 54, 224);
    width: 300px;
    color: black;
    text-align: center;
    height: 200px;
    width: 300px;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 10px 12px 12px 11px rgba(253, 250, 250, 0.2);
}
.TodoForm-text--title{
    color: beige;
    font-size: larger;
    font-weight: bolder;
}
textarea {
    height: 100px;
    background: rgb(191, 191, 247);
    opacity: 0.4;
    color: rgb(7, 7, 7);
}
.TodoForm-buttonContainer{
    display: flex;
    gap: 30px;
    align-self: center;
       
}
.TodoForm-Button--cancel, .TodoForm-Button--add{
    padding: 7px;
    border-radius: 3px;
    border-style: none;
    color: blue;
    background: rgb(244, 245, 244);
    cursor: pointer;
}